include CHANGELOG
include COPYING
include README
include setup.py

recursive-include bluetooth *.py

recursive-include bluez *.c
recursive-include bluez *.h
recursive-include msbt *.c
recursive-include widcomm *.cpp
recursive-include widcomm *.hpp
recursive-include widcomm *.h
recursive-include osx *.c
recursive-include osx *.h
recursive-include port3 *.h

recursive-include examples *.py

recursive-exclude * *.pyc
recursive-exclude * *.o
recursive-exclude * *.opp
